#text-Queue-box{
  position: relative;
  width: 100%;
  height: 125px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  overflow: auto;

  #text-Queue-input{
    float: left;

  }

  button{
    width: 150px;
  }

  #say-Queue-btn{
    height: 40px;
    position: fixed;
    right: 0;
    top: 0;
  }

  #clear-Queue-btn{
    position: fixed;
    height: 40px;
    top: 40px;
    right: 0;
  }

  &:after{
    content: '';
    display: table;
    clear: both;
  }

}

#text-Queue-input,
#word-box{
  span{
    font-size: 1.3em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.word-to-Queue{

}

.add-text-form{
  position: absolute;
  right: -60%;
  transition: all 0.1s;

  input{
    height: 56px;
    font-size: 1.5em;
    padding: 2% 2%;
    margin: 2% 0;
  }
  button{
    font-size: 1.5em;
  }

  &:hover{
    right: 0;
  }
}