#text-cue-box{
  position: relative;
  width: 100%;
  height: 125px;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  overflow: auto;
  margin-bottom: 5%;

  #text-cue-input{
    float: left;

  }

  button{
    width: 150px;
  }

  #say-cue-btn{
    height: 40px;
    position: fixed;
    right: 0;
    top: 0;
  }

  #clear-cue-btn{
    position: fixed;
    height: 40px;
    top: 40px;
    right: 0;
  }

  &:after{
    content: '';
    display: table;
    clear: both;
  }

}

#text-cue-input,
#word-box{
  span{
    font-size: 1em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.word-bank-2, .word-bank-3 {
  padding: 0;
}

.word-bank-3 {
  margin-right: -5%;
}

.word-bank-4 {
  margin-right: -2%;
}

.pronouns{
  height: 50px;
  width: 90px;
  // color: black;
  background-color: rgb(152, 152, 152);
}

.verbs{
  height: 50px;
  width: 90px;
  background-color: rgb(0, 53, 102);
}

.negatives {
  height: 50px;
  width: 90px;
  background-color: rgb(247, 67, 67);
}

.adjectives {
  height: 50px;
  width: 100px;
  background-color: rgb(91, 186, 199);
}

.preps{
  height: 50px;
  width: 90px;
  background-color: rgb(2, 133, 162);
}

.add-text-form{
  position: absolute;
  right: -60%;
  transition: all 0.1s;

  input{
    height: 56px;
    font-size: 1.5em;
    padding: 2% 2%;
    margin: 2% 0;
  }
  button{
    font-size: 1.5em;
  }

  &:hover{
    right: 0;
  }
}
