#dashboard {
  margin: 5% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.dash-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

span.glyphicon {
  font-size: 8em;
  text-align: center;
  padding-top: 15%;
}

.phrase-text{
  color: white;
}

h2.phrases {
  text-align: center;
}

.my-phrases-column {
  display: flex;
  height: 51vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: space-around;
  overflow: auto;

  table {
    margin: auto;
    width: 65vw;
    background-color: rgba(105, 105, 105, 0.65);
    border-radius: 8px;
    .my-phrase-item{
      font-size: 1.1em;
    };
  }
}

td{
  text-align: center;
  padding-bottom: 1.5%;
}

td.phrase-text {
  text-align: left;
}

fieldset {
  margin-top: 1%;
  text-align: center;
  label {
    margin-right: 1%;
  }
}
