#dashboard {
  margin: 5% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.dash-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

span.glyphicon {
  font-size: 8em;
  text-align: center;
  padding-top: 15%;
}

.phrase-text{
  color: white;
}

.my-phrase-item{
  span{
    font-size: 1.3em;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}
