#dashboard {
  margin: 5% 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.dash-box{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

span.glyphicon {
  font-size: 8em;
  text-align: center;
  padding-top: 15%;
}
