.qs-list {
  // display: inline-block;
  border-radius: 8px;
  border: none;
  color: white;
}

.quick-speech-button {
  color: white;
  padding: 5% 0%;
  width: 100%;
  height: 100px;
  line-height: 40px;
  margin: 2% auto;
  background-color: rgba(90, 157, 228, 0.83);
  font-size: 18px;
}
