::-webkit-scrollbar {
  //display: none;
}

body {
  padding: 1em;
  font-family: Open, sans-serif;
  font-size: 20px;
  background-color: rgb(27, 26, 26);
}

main{
  clear: both;
  overflow: hidden;
}

h2{
  color: white;
}

p{
  color: white;
}
