body {
  padding: 1em;
  font-family: Open, sans-serif;
  font-size: 20px;
  background-color: rgb(45, 44, 44);
}

main{
  clear: both;
  overflow: hidden;
}

h2{
  color: white;
}

p{
  color: white;
}
