nav {
  margin-bottom: 2%;
}

.icon-link {
  display: block;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 280px;
  height: 300px;
  color: white;
  background: CadetBlue;
  border-radius: 5px 80px 5px 5px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    .icon-link-text {
      color: rgba(0, 0, 0, 0.74);
    }
  }
}
