@import 'commons/base';
@import 'commons/nav';
@import 'components/quickspeech';
@import 'components/dashboard';
@import 'components/login';
@import 'components/register';

.speak-input{
  height: 50px;
  width: 40vw !important;
  font-size: 1.5em;
}

input[type='submit']{
  height: 50px;
  font-size: 1.5em;
}

h1{
  color: DodgerBlue;
}

h3 {
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
