@import 'commons/base';
@import 'commons/nav';
@import 'components/home';
@import 'components/about';
@import 'components/quickspeech';
@import 'components/dashboard';
@import 'components/forms';
@import 'components/constructor';


body {
  font-family: 'Quicksand', sans-serif;
}

h1{
  color: DodgerBlue;
  // font-family: 'Quicksand', sans-serif;
}

h3 {
  color: white;
  // font-family: 'Quicksand', sans-serif;
}
h2{
  color: white;
  // font-family: 'Quicksand', sans-serif;
}
p{
  color: white;
  // font-family: 'Quicksand', sans-serif;
}
