@import 'commons/base';
@import 'commons/nav';
@import 'components/quickspeech';
@import 'components/dashboard';
@import 'components/forms';
@import 'components/constructor';



h1{
  color: DodgerBlue;
}

h3 {
  color: white;
}
h2{
  color: white;
}
p{
  color: white;
}
